<header [class.header-collapsed]="isCollapsed" [class.header-expanded]="!isCollapsed" class="medecin-header d-flex justify-content-between align-items-center px-3 px-md-4 py-2">
  <div class="fw-bold text-black">
    <h1 class="fs-5 fs-md-4">Dr. KABORE FAICAL</h1>
    <!-- <h4>Médecin généraliste</h4> -->
  </div>

  <div class="medecin-icons text-black d-flex align-items-center gap-3">
    <i class="bi bi-bell-fill fs-5" title="Notifications"></i>
    <i class="bi bi-gear-fill fs-5" title="Paramètres"></i>
  </div>
</header>
