
main {
  display: flex;
  flex-direction: column;  /* Permet de disposer les éléments (header, main-content, footer) en colonne */
  height: 100vh;  /* Assure que le main prend toute la hauteur de la fenêtre */
  margin: 0;
}



/* Footer */
footer {
  position: relative;
  top: 500px; /* Ajustez la valeur selon vos besoins */
}
