/* Container principal de la navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00A3E0;
  padding: 10px 20px;
}

.navbar .logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ff7f00; /* Couleur d'hover */
}
