<div class="profil-global-container">

  <div class="profil-header">
    <!-- 📷 PHOTO -->
    <div class="photo-wrapper">
      <img
        [src]="medecin.photo || 'assets/images/default-avatar.png'"
        alt="Photo du Dr. {{ medecin.nom }}"
        class="profile-photo"
      />
    </div>

    <!--  NOM + SPÉCIALITÉ -->
    <div class="infos-principales">
      <h2>Dr. {{ medecin.nom }} {{ medecin.prenom }}</h2>
      <p class="specialite">{{ medecin.specialite }}</p>
    </div>
  </div>


 <div class="infos-wrapper">
  <!-- Carte Infos -->
  <div class="card info-card">
    <h4>Informations personnelles</h4>
    <p>Âge {{ medecin.age }} ans</p>
    <p>Expérience {{ medecin.experience }} ans</p>
  </div>

  <!-- Carte Contact -->
  <div class="card contact-card">
    <h4>Contact</h4>
    <p>Téléphone {{ medecin.telephone }}</p>
    <p>Email {{ medecin.email }}</p>
  </div>

  <!-- Carte Localisation -->
  <div class="card localisation-card">
    <h4>Localisation</h4>
    <p>Clinique {{ medecin.clinique }}</p>
    <p>Adresse {{ medecin.adresse }}</p>
  </div>
</div>

<hr>
<div class="footer">
<h3>Parcours professionnel</h3>
<span></span>
</div>

<div class="footer-buttons">
  <button class="btn btn-secondary" (click)="retour()">Retour</button>
 <button class="btn btn-primary" (click)="prendreRDV()">Prendre un rendez-vous</button>

</div>

</div>


