.container-specialite {
  max-width: 600px;
  margin: auto;
  background: #f8f9fa;
  box-shadow: 4px 4px 8px #ccc;
  border-radius: 10px;
}

input.form-control {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

button.btn-primary {
  background-color: #00aee0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

button.btn-link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container-specialite {
    padding: 1rem;
  }
}
