.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  background-color: white;
}

.text-success {
  color: green;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-weight: bold;
}


.btn-retour {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-retour:hover {
  background-color: #0056b3;
}
