.table th {
  font-weight: 600;
  background-color: #f8f9fa;
}

.text-primary {
  color: #007bff !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: green !important;
}

.alert-info {
  background-color: #e7f3fe;
  border-color: #bee5eb;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.badge-actif {
  background-color: #28a745; /* Vert */
}

.badge-inactif {
  background-color: #dc3545; /* Rouge */
}


.cursor-pointer {
  cursor: pointer;
}

table td, table th {
  vertical-align: middle;
}


.actions a {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
}

.actions a:last-child {
  margin-right: 0;
}

