<!-- Slogan + recherche -->
<div class="container">
  <div class="hero">
    <div class="hero-left">
      <div class="marquee-container">
        <p class="marquee-text">
          PRENEZ RENDEZ-VOUS AVEC UN MÉDECIN EN QUELQUES CLICS
        </p>
      </div>
      <div class="search-container">
            <input type="text" class="search-input"placeholder="Nom, Spécialité..."/>
            <button class="search-btn">
              <i class="fas fa-search"></i>
            </button>
      </div>
    </div>
    <div class="hero-right">
      <img src="assets/infirmière.png" alt="Docteur" />
    </div>
  </div>
  <section class="section-pourquoi text-center text-black">
    <div class="container py-5">
      <h2 class="mb-5 fw-bold">POURQUOI CHOISIR SANORDV ?</h2>
      <div class="row justify-content-center g-4">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-dark">
              <div class="mb-3">
                <i class="fa-solid fa-stethoscope fs-1 text-primary"></i>
              </div>
              <h5 class="card-title fw-bold">FACILITEZ VOTRE SANTÉ</h5>
              <p class="card-text">
                Prenez rendez-vous rapidement avec des médecins et spécialistes
                près de chez vous.
              </p>
              <p class="card-text">
                Une plateforme simple, fiable et sécurisée pour gérer vos
                consultations en toute sérénité.
              </p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-dark">
              <div class="mb-3">
                <i class="bi bi-tools fs-1 text-primary"></i>
              </div>
              <h5 class="card-title fw-bold">
                PRISE DE RENDEZ-VOUS SIMPLIFIÉE
              </h5>
              <p class="card-text">
                Une solution tout-en-un pour patients et professionnels :
                trouvez un praticien, gérez vos agendas, et suivez vos
                consultations, le tout en ligne et en toute sécurité.
              </p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-dark">
              <div class="mb-3">
                <i class="bi bi-heart-pulse-fill fs-1 text-danger"></i>
              </div>
              <h5 class="card-title fw-bold">ON S’OCCUPE DU RESTE</h5>
              <p class="card-text">
                Prenez soin de vous. On gère vos rendez-vous, rappels, et accès
                aux praticiens facilement, en ligne.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-medecins">
    <div class="container py-5 text-center">
      <h2 class="fw-bold mb-4 text-uppercase text-primary">NOS MÉDECINS</h2>
      <!-- Flèches -->
      <div
        class="carousel-controls mb-3 d-flex justify-content-between align-items-center"
      >
        <button class="btn btn-outline-primary" id="prevBtn">
          <i class="bi bi-chevron-left fs-4"></i>
        </button>
        <button class="btn btn-outline-primary" id="nextBtn">
          <i class="bi bi-chevron-right fs-4"></i>
        </button>
      </div>
      <!-- Carrousel horizontal -->
      <div class="carousel-cards-wrapper">
        <div class="carousel-cards d-flex flex-nowrap" #carouselContainer>
          <!-- Carte Médecin -->
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/boukari.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr KAGAMBEGA Boukary"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr KAGAMBEGA Boukary</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Experte en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/arnold.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Arnold Kabore"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr Arnold Kabore</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies
                <br />cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/faril.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr Adam Faril</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/bako.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr BAKO Robert</h5>
              <p class="text-primary mb-1">Pediatre</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/latif.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr SAWADOGO A Latif</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/charifa.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr TRAORE Sergine</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/faiçal.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr KABORE Faical</h5>
              <p class="text-primary mb-1">Médecin généraliste</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/medecin3.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr Adam Faril</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <div class="card card-medecin text-center me-3">
            <img
              src="assets/images/medecin3.jpg"
              class="rounded-circle mx-auto mt-3 medecin-img"
              alt="Dr Adam Faril"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold mt-3">Dr Adam Faril</h5>
              <p class="text-primary mb-1">Cardiologue</p>
              <p class="card-text">
                Expert en prévention et traitement des maladies <br />
                cardiovasculaires. <a href="#">Plus d'info</a>
              </p>
            </div>
          </div>
          <!-- Ajoute 4 autres cartes ici si besoin -->
        </div>
      </div>
    </div>
  </section>
</div>
