<header [class.header-collapsed]="isCollapsed" [class.header-expanded]="!isCollapsed" class="admin-header d-flex justify-content-end align-items-center px-3 px-md-4 py-2">

  <div class="admin-icons text-wite h2 d-flex align-items-center gap-3">
    <a routerLink="/accueil" routerLinkActive="active-link" class="nav-link">ACCUEIL</a>
    <a routerLink="/a-propos" routerLinkActive="active-link" class="nav-link">A-PROPOS</a>
    <i class="bi bi-bell-fill fs-5" title="Notifications" (click)="notification()"></i>
    <a routerLink="/auth/login" routerLinkActive="active-link" class="nav-link" >DECONNEXION</a>
    
  </div>
</header>