# Ignorer node_modules
node_modules/

# Ignorer dossiers ou fichiers liés aux dépendances
dependencies/

# Autres dossiers ou fichiers courants à ignorer
.DS_Store
.env
dist/
build/
# Ignorer package.json et package-lock.json
package.json
package-lock.json
