<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/images/logo.png" alt="SanoRDV Logo">
      <p> Trouvez le bon médecin et prenez rendez-vous en quelques secondes. MediBook vous permet d'entrer facilement en contact avec des professionnels de la santé. </p>
    </div>

    <div class="footer-links">
      <h4>LIENS RAPIDES</h4>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">A-Propos</a></li>
        <li><a href="#">Inscription</a></li>
        <li><a href="#">Connexion</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>CONTACT US</h4>
      <p><strong>Phone:</strong> +226 60686253</p>
      <p><strong>Email:</strong> support@sanordv.com</p>
      <p><strong>Address:</strong> 123 Healthcare Avenue, Cité Azimo Ouaga 2000</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 - SanoRDV. Tous droits réservés.</p>
    <div class="footer-socials">
      <a href="#" class="social-icon">Facebook</a>
      <a href="#" class="social-icon">Twitter</a>
      <a href="#" class="social-icon">WhatsApp</a>
    </div>
  </div>
</footer>
